* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --bg_main: #0a1f44;
  --text_light: #fff;
  --text_med: #53627c;
  --text_dark: #1e2432;
  --red: #ff1e42;
  --darkred: #c3112d;
  --orange: #ff8c00;
}

body {
  background-color: var(--bg_main);
  color: var(--text_dark);
}

.container form {
  position: relative;
  display: flex;
  align-items: center;
}
h1 {
  color: var(--text_light);
  font-weight: 700;
  font-size: 5rem;
}

button {
  cursor: pointer;
  background-color: var(--red);
  color: var(--text_light);
  border-radius: 0.5rem;
  border: none;
  font-size: 2rem;
  width: 10rem;
  height: 4rem;
  margin-left: 3rem;
}

button:hover {
  background-color: var(--darkred);
}

.inputCity {
  color: var(--text_light);
  background-color: var(--bg_main);
  font-size: 2rem;
  border: none;
  border-bottom: var(--text_light) 2px solid;
}

.msg {
  color: var(--text_light);
  font-size: 2rem;
}
.weather-card {
  margin-top: 3rem;
  background-color: var(--text_light);
  border-radius: 1rem;
  padding: 20px;
  width: 200px;
  /* text-align: center; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--text_dark, #1e2432);
}

.temperature {
  font-size: 3rem;
  font-weight: 700;
  color: var(--text_dark);
}

.temperature > sup {
  margin: -1rem;
  font-size: 2rem;
  color: var(--text_dark);
}

@media screen and (max-width: 700px) {
  /* css bên trong áp dụng khi màn hình <= 700px */
  .container div h1 {
    font-size: 3rem;
  }
  .container form {
    flex-direction: column;
  }

  .container form input,
  .container form button {
    width: 100%;
  }
  .container form button {
    margin: 20px 0 0 0;
  }
}
